*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 20px;
}

h2{
    margin-bottom: 20px;
}

.all{
    display: flex;
}

#registrar-evento, #registrar-evento2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#lugar, #nombre-evento, #horario, #lugar2, #nombre-evento2, #horario2{
    width: 400px;
}

#boton-registrar, #boton-registrar2{
    width: 120px;
}

.product{
    display: flex;
    flex-direction: column;
}

.listado-ferias{
    margin-top: 40px;
}

.card{
    margin:20px 0 0 20px ;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 700px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}